
.header {
  background-color: black;
  border: 1px;
  padding: 0px;
  margin: 0px;
  color: white;
}

.middleh {
  background-color: black;
  border: 2px;
  padding: 5px;
  margin: 0px;
  color: white;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
 
 
}

